@model EmpManagement.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div>
    <div class="vm-login-form">
    <div class="text-center m-t-xl">
        <img src="~/Images/logo.png" class="vm-logo-ht">
    </div>
    <h3 class="text-center vm-sub-text">Welcome to EmpManagement </h3>
    <p>

    </p>

        </div>
</div>